language: go

sudo: false

go:
  - 1.11.x
  - 1.12.x

env:
  - GO111MODULE=on 
  
script:
  - go test -coverprofile=coverage.txt -covermode=count ./...

after_success:
  - bash <(curl -s https://codecov.io/bash)  
