# GitHub Actions - CI for Go to build & test.
# https://github.com/fxamacker/cbor/workflows/ci.yml
# See ci-go-cover.yml for coverage and safer-golangci-lint.yml for linting.
name: ci

# Revoke default permissions.
permissions: {}

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - 'master'
      - 'release*'
      - 'feature/stream-mode'
    tags:
      - 'v*'  
jobs:
  # Test on various OS with default Go version. 
  tests:
    name: test ${{matrix.os}} go-${{ matrix.go-version }}
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read    
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        go-version: [1.17, 1.19, '1.20', 1.22]
    steps:
    - name: Install Go
      uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # v4.1.0
      with:
        go-version: ${{ matrix.go-version }}
        check-latest: true
        
    - name: Checkout code
      uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
      with:
        fetch-depth: 1

    - name: Print Go version
      run: go version

    - name: Get dependencies
      run: go get -v -t -d ./...
      
    - name: Build project
      run: go build ./...
      
    - name: Run tests
      run: |
        go version
        go test -race -v ./...
